<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}A & AAuto Sales{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-brand">A & A Auto Sales</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <!-- Main Page Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 MWP</p>
        <p>Contact us at 123-456-789 </p>
    </footer>

</body>
</html>
