<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Inventory | A & A Auto Sales{% endblock %}

{% block content %}
    <section class="inventory-intro">
        <h2>Our Inventory</h2>
        
        <form method="get" class="inventory-filter-form">
            {{ form.hidden_tag() }}
            {{ form.sort_by.label }} {{ form.sort_by() }}
            {{ form.submit() }}
        </form>
    </section>


    <section class="inventory-showcase">
        <div class="inventory-grid">
            {% for car in cars %}
            <div class="vehicle-card">
                <img src="{{ url_for('static', filename='uploads/' ~ car.image_filename) }}" 
                    alt="{{ car.make }} {{ car.model }}" width="300" />
                <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
                <p>Price: ${{ "%.2f"|format(car.price) }}</p>
                <p>Kilometers: {{ car.kilometers }} km</p>
            </div>
            {% else %}
            <p>No vehicles available at the moment. Please check back later.</p>
            {% endfor %}


        </div>
{% endblock %}
